# Byte-compiled, optimized, and DLL files.
__pycache__/
*.py[cod]
*$py.class

# Distribution and packaging.
build/
dist/
*.egg-info/

# IntelliJ things.
.idea/
*.iml

# Other garbage.
Advanced_Topics_In_Machine_Learning/.ipynb_checkpoints/
data/
